modules = ["web", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "backend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd academy_UI && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd academy_Backend && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37165
externalPort = 3002

[[ports]]
localPort = 38051
externalPort = 3000

[[ports]]
localPort = 40613
externalPort = 3003

[[ports]]
localPort = 44163
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "http-server", "academy_UI/dist/ng-tailadmin/browser", "-p", "5000", "--host", "0.0.0.0"]
build = ["npm", "run", "build", "--prefix", "academy_UI"]
